{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>{% block titulo %} {% endblock %}</title>
</head>
<body>
    <div>
        {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="alert alert-success" {% endif %}>{{message}}</p>
                {% endfor %}
        {% endif %}
    </div>
    <nav class="navbar bg-primary">
        <div>
            <a href="./" class="navbar-brand container d-flex align-items-center justify-content-center">
                <img class="" src="static/imagenes/Logo2.png" height="50" width="80" class="d-inline-block align-top" alt="LOGO">
                <!-- <p class="text-white"><strong>LOGO</strong></p> -->
            </a>
        </div>
            <a href="./publicar" class="nav-item nav-link active text-white">Publicar</a>
            <!-- <a href="./formulario" class="nav-item nav-link active text-white">Form</a>
            <a href="./listarAlgo" class="nav-item nav-link active text-white">Listar Algo</a> -->
            <a href="./admin" class="nav-item nav-link active text-white">Soy Veterinario</a>
            <a href="./turnos" class="nav-item nav-link active text-white">Solicitar Turno</a>
    </nav>
    <br>
    <br>
    {% block contenido %} {% endblock %}
    <br><br>
    <footer>
        <div class="container-fluid bg-dark text-center p-3">
            <p class="medium text-info">
                Contactanos 
            </p>
            <p class="medium text-info">
                Telefono Fijo = 221-15-4530217 ----
                Whatsapp = 221-4185179 ----
                Gmail = ohmydog@gmail.com
            </p>
        </div>
    </footer>
</body>
</html>