{% extends 'paginas/base.html' %}
{% load static %}


{% block titulo %} Menu Principal {% endblock %}

{% block contenido %} 
    <div class="d-flex justify-content-center flex-column align-items-center">
        <img src="static/imagenes/Logo1.png" height="150" width="200" alt="Foto">
        <!-- <a href="./" class="btn btn-primary">Perros en Adopcion</a> -->
        <img src="static/imagenes/Logo1.png" height="150" width="200" alt="Foto">
        <!-- <a href="./" class="btn btn-primary">Perros en Adopcion</a> -->
    </div>
    <br>

    <div class="container">
        <div class="row justify-content-md-center">
            <a href="./" class="col-lg-0 btn btn-dark"><img src="static/imagenes/Adopciones.jpeg" height="200" width="350" alt="Foto"></a>
            <span class="text-white">hhhhhhhhhhhh</span>
            <a href="./" class="col-lg-0 btn btn-dark"><img src="static/imagenes/Perdidos.jpeg" height="200" width="350" alt="Foto"></a>
        </div>
        <span class="text-white">h</span>
        <div class="row justify-content-md-center">
            <a href="./" class="col-lg-0 btn btn-dark"><img src="static/imagenes/Paseadores.jpeg" height="200" width="350" alt="Foto"></a>
            <span class="text-white">hhhhhhhhhhhh</span>
            <a href="./" class="col-lg-0 btn btn-dark"><img src="static/imagenes/Cuidadores.jpeg" height="200" width="350" alt="Foto"></a>
        </div>
      </div>
    <br>


        <!-- <div class="d-flex justify-content-center flex-column align-items-center">
            <img src="static/imagenes/Adopciones.jpeg" alt="Foto" height="300" width="300">
            <a class="btn btn-primary" href="./" style="position: absolute; left: 700px; top: 500px;"">Adop</a>
        </div> -->
    
{% endblock %}


       

