{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %} Paseadores {% endblock %}

{% block contenido %} 

<div class="d-flex justify-content-center flex-column align-items-center">
    {% for c in context %}
        <p>Nombre: {{ c.nombre }}</p>
        <p>Telefono: {{ c.telefono }}</p>
        <p>Zona: {{ c.zona }}</p>
        <p>Disponibilidad: {{ c.disponibilidad }}</p>
        <a href="./contactarP/{{c.nombre}}/{{c.telefono}}" class="btn btn-success">Contactar</a>
        {% if usuario.esVeterinario %}
            <a href="./borrarP/{{c.telefono}}" class="btn btn-danger">Borrar</a>
        {% endif %}
        <p>-----------------</p>
    {% endfor %}
</div>

{% endblock %}