{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %} Listar Perdidos {% endblock %}

{% block contenido %} 

<div class="d-flex justify-content-center flex-column align-items-center">
    <aside><a href="/listarPerdidosEncontrados" class="btn btn-success">¡Echa un vistazo a los perros que hemos encontrado!</a></aside>
    <br><br>
    {% if context|length == 0 %}
        <p>No hay perros perdidos publicados</p>
    {% else %}
        {% for c in context %}
            <div class="flex row border border-5 border-dark rounded">
                <div class="col">
                    <p><strong>Nombre:</strong> {{ c.nombre }}</p>
                    <p><strong>Raza:</strong> {{ c.raza }}</p>
                    <img src="{{c.imagen.url}}" alt="FOTO" height="150" width="150">
                </div>
                <div class="col">
                    <p><strong>Reportado por:</strong> {{ c.dueño }}</p>
                    <p><strong>Zona:</strong> {{ c.zona }}</p>
                    <p><strong>Descripcion:</strong> {{ c.descripcion }}</p>
                    <p><strong>Fecha de Desaparicion:</strong> {{ c.fechaD }}</p>
                    {% if usuario.esVeterinario %}
                        <p><strong>Telefono:</strong> {{ c.telDueño }}</p>
                    {% else %}
                        {% if usuario.esCliente and usuario.nombre != c.usuario %}
                            <a href="/contactarPerd/{{c.nombre}}/{{c.telDueño}}" class="btn btn-success">Contactar</a>
                            <br>
                        {% else %}
                            {% if usuario.esCliente == False %}
                                <a href="/contactarPerdVisit/{{c.nombre}}/{{c.telDueño}}" class="btn btn-success">Contactar</a>
                                <br>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if usuario.esVeterinario or usuario.nombre == c.usuario %}
                        <button onclick="confirmar()" class="btn btn-danger">Borrar</button>
                        <script>
                        function confirmar(){
                            let conf = window.confirm('Seguro que quieres borrar este elemento??')
                            if(conf)
                            window.location.href = "/borrarPerroPerdido/{{c.id}}"
                        }
                        </script>
                    {% endif %}
                </div>
            </div>   
            {% endfor %}
    {% endif %}
    
</div>

{% endblock %}