{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %} Listar Adopciones {% endblock %}

{% block contenido %} 

<div class="d-flex justify-content-center flex-column align-items-center">
    
    {% if context|length == 0 %}
        <p>No hay perros en adopcion publicados</p>
    {% else %}
        {% for c in context %}
        
            <p>usuario: {{ c.usuario }}</p>
            <p>Nombre: {{ c.nombre }}</p>
            <p>Peso: {{ c.peso }}</p>
            <p>Zona: {{ c.zona }}</p>
            <p>Raza: {{ c.raza }}</p>
            <p>Descripcion: {{ c.descripcion }}</p>
            <p>Castrado: {{ c.castrado }}</p>
            <a href="" class="btn btn-success">Contactar</a>
            {% if usuario.esVeterinario or usuario.nombre == c.usuario %}
                <a href="./borrarPerroA/{{c.usuario}}/{{c.nombre}}" class="btn btn-danger">Borrar</a>
            {% endif %}   
            <p>-----------------</p>
        {% endfor %}
    {% endif %}
    
</div>

{% endblock %}