{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %} Cuidadores {% endblock %}

{% block contenido %} 

<div class="d-flex justify-content-center flex-column align-items-center">
    {% if context|length == 0 %}
        <p>No hay Cuidadores Publicados</p>
    {% else %}
    <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            {% if usuario.esVeterinario %}
            <th>DNI</th>
            <th>Telefono</th>
            {% endif %}
            <th>Zona</th>
            <th>Disponibilidad</th>
          </tr>
        </thead>
        <tbody>
          {% for c in context %}
          <tr>
            <td>{{ c.nombre }}</td>
            {% if usuario.esVeterinario %}
            <td>{{ c.dni }}</td>
            <td>{{ c.telefono }}</td>
            {% endif %}
            <td>{{ c.zona }}</td>
            <td>{{ c.disponibilidad }}</td>
            <td>
                {% if usuario.esCliente %}
                    <a href="./contactarC/{{c.nombre}}/{{c.telefono}}" class="btn btn-success">Contactar</a>
                {% else %}
                    {% if usuario.esVeterinario %}
                        <!-- href="./borrarC/{{c.telefono}}" -->
                        <button onclick="confirmar()" class="btn btn-danger">Borrar</button>
                        <script>
                          function confirmar(){
                            let conf = window.confirm('Seguro que quieres borrar este elemento??')
                            if(conf)
                              window.location.href = "./borrarC/{{c.telefono}}"
                          }
                        </script>
                    {% else %}
                        <a href="./contactarCVisit/{{c.nombre}}/{{c.telefono}}" class="btn btn-success">Contactar</a>
                    {% endif %}
                {% endif %}        
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}