{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %} Paseadores {% endblock %}

{% block contenido %} 

<div class="d-flex justify-content-center flex-column align-items-center">
    {% if context|length == 0 %}
        <p>No hay Paseadores Publicados</p>
    {% else %}
          {% for c in context %}
          <div class="container w-25 justify-content-center align-items-center border border-5 border-dark rounded">
            <div class="col justify-content-center align-items-center">
              <p><strong>Nombre:</strong> {{ c.nombre }}</p>
                {% if usuario.esVeterinario %}
                  <p><strong>DNI:</strong> {{ c.dni }}</p>
                  <p><strong>Telefono:</strong> {{ c.telefono }}</p>
                {% endif %}
                <p><strong>Recorrido:</strong> {{ c.zona }}</p>
                <p><strong>Disponibilidad:</strong> {{ c.disponibilidad }}</p>
                {% if usuario.esCliente %}
                    <a href="/contactarP/{{c.nombre}}/{{c.telefono}}" class="btn btn-success">Contactar</a>
                {% else %}
                    {% if usuario.esVeterinario %}
                        <button onclick="confirmar()" class="btn btn-danger">Borrar</button>
                        <script>
                          function confirmar(){
                            let conf = window.confirm('Seguro que quieres borrar este elemento??')
                            if(conf)
                              window.location.href = "/borrarP/{{c.id}}"
                          }
                        </script>
                    {% else %}
                        <a href="/contactarPVisit/{{c.nombre}}/{{c.telefono}}" class="btn btn-success">Contactar</a>
                    {% endif %}
                {% endif %}
            </div>
          </div>   
         {% endfor %}
    {% endif %}
</div>

{% endblock %}

