{% extends 'paginas/base.html' %}
{% load static %}


{% block titulo %} Notificaciones {% endblock %}

{% block contenido %} 
<div class="d-flex justify-content-center flex-column align-items-center">
    {% if usuario.esVeterinario %}
        <a href="./notiContacto" class="btn btn-success">Contacto a Paseador/Cuidador</a>
        <p>----------------</p>
        <a href="./notiTurnos" class="btn btn-success">Solicitudes de Turno</a>
        <p>----------------</p>        
    {% endif %}
    <a href="./notiAdopContacto" class="btn btn-success">Contacto adopcion</a>
        
        <p>----------------</p>

        <a href="./notiPerdidos" class="btn btn-success">Reportes</a>
        
        <p>----------------</p>
</div>

{% endblock %}