{% extends 'paginas/base.html' %}
{% load static %}


{% block titulo %} Reportes {% endblock %}

{% block contenido %} 

<div class="d-flex justify-content-center flex-column align-items-center">
    {% if context|length == 0 %}
        <p>Aun no hay reportes</p>
    {% else %}
        {% for c in context %}
            <p>{{ c }}</p>
            <a href="./borrarNotiPerd/{{c.id}}" class="btn btn-success">Confirmado</a>
            <p>-----------------</p>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}