{% extends 'paginas/base.html' %}
{% load static %}


{% block titulo %} Publicar {% endblock %}

{% block contenido %} 
<div class="d-flex justify-content-center flex-column align-items-center">
    {% if usuario.esVeterinario %}
        <a href="./publicarC" class="btn btn-success">Agregar Cuidador</a>
        <p>----------------</p>
        <a href="./publicarP" class="btn btn-success">Agregar Paseador</a>
        <p>----------------</p>
    {% endif %}
    <a href="./publicarAdopcion" class="btn btn-success">Agregar Adopcion</a>
    <a href="./publicarPerdido" class="btn btn-success">Publicar Desaparicion</a>
    <p>----------------</p>
</div>

{% endblock %}
