{% extends 'paginas/base.html' %}
{% load static %}


{% block titulo %} Solicitar Turno {% endblock %}

{% block contenido %} 
<style>
    .errorlist{
        display: none;
    }
</style>
<div class="d-flex justify-content-center">
    <h1>Ingresa los datos para solicitar un turno</h1>
</div>

<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Fengyuan Chen's Datepicker Static Implementation</title>
  <style>body {font-family: Arial, sans-serif;}</style>
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's seleccionador de fechas -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
</head>
<body>
    <div></div>
    <p style="font-size: larger; color: rgb(0, 0, 0); text-align: center;">Seleccione la fecha de su turno</p>  
    <div style="text-align: center;">
  <input id="datepicker">
    </div>>
  <script>
    $(function () {
      $("#datepicker").datepicker();
    });
  </script>

</body>
</html>


<br>
<div class="d-flex justify-content-center">
    <form action= "{% url 'turnos' %}" method="POST">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <h5>Seleccione el motivo de su turno </h5> <select>
                <option>Otro</option>
                <option>Castrar</option>
                <option>Revision</option>
                <option>Vacunar</option>
              </select>
        </div>
        {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {{ error }} <br>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        {{ form.as_p }}
        <input type="submit" value="Enviar" class="btn btn-success">
    </form>
</div>
{% endblock %}